.boolean-button-container {
    min-width: 120px;
    width: 100%;
}

.boolean-button {
    position: absolute;
}

.boolean-button label {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    height: 38px;
    width: 60px;

    margin: -3px -10px 0 -10px;
    text-align: center;
    line-height: 35px;

    background-color: #999999;
    color: #d9d9d9;

    /* border: solid 1px;
    border-color: #dcdce6; */

    transition: filter 0.2s;
}

.boolean-button label:hover {
    filter: brightness(90%);
}

.boolean-button:nth-child(2) label {
    border-radius: 5px 0 0 5px;
    /* border-style: solid none solid solid; */
}

.boolean-button:nth-child(3) label {
    left: 60px;
    border-radius: 0 5px 5px 0;
    /* border-style: solid solid solid none; */
}

.boolean-button input:checked~label {
    background-color: #cc2388;
    color: #ffffff;
}

.boolean-button-container input {
    position: absolute;
    width: 1px;
    opacity: 0;
}

.boolean-button-container input:invalid~.botao-um {
    border: solid #dc1826;
    border-width: 2px 0px 2px 1px;
    line-height: 31px;
    transition: all 0.2s ease;
}

.boolean-button-container input:invalid~.botao-dois {
    border: solid #dc1826;
    border-width: 2px 1px 2px 0px;
    line-height: 31px;
    transition: all 0.2s ease;
}

.boolean-button-container input:focus~.botao-um {
    border: solid #3d293b;
    border-width: 2px 0px 2px 1px;
    line-height: 31px;
    transition: all 0.2s ease;
}

.boolean-button-container input:focus~.botao-dois {
    border: solid #3d293b;
    border-width: 2px 1px 2px 0px;
    line-height: 31px;
    transition: all 0.2s ease;
}