.checkbox-opcoes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    height: 400px;
    margin: 6px 0 0 0;
    padding: 0;
    padding-right: 13px;
}

.container-checkbox {
    width: auto;
    display: inline-block;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
    top: 8px;
    left: 8px;
}

.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.span-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: solid 1px #cc2388;
    border-radius: 3px;
    
}

.container-checkbox:hover input ~ .span-checkbox {
    background-color: #d9d9d9;
}

.container-checkbox input:checked ~ .span-checkbox{
    background-color: #CC2388;
}

.container-checkbox input:focus ~ .span-checkbox{
    border: 2px solid #3d293b;
}

.container-checkbox input:focus ~ .span-checkbox:after{     
    top: -4px;
    left: 1px;
}

.span-checkbox:after {
    font-size: 15px;
    content: "\2713";
    position: absolute;
    display: none;
    color: #fff;
    top: -3px;
    left: 2px;
}

.container-checkbox input:checked ~ .span-checkbox:after {
    display: block;
}

.container-checkbox .span-checkbox { 
    width: 18px;
    height: 18px;
    padding-left: 13px;
}

#verificador-checkbox-opcoes {
    position: absolute;
    width: 1px;
    opacity: 0;
}

.checkbox-opcoes:has(input:focus){
    border: solid #3d293b;
    border-width: 2px 1px 2px 1px;
}

.checkbox-opcoes:has(#verificador-checkbox-opcoes:invalid) {
    border: solid #dc1826;
    border-width: 2px 1px 2px 1px;
} 


