.conteudo-janela-padrao {
    padding: 0;
}

.consulta-container {
    display: grid;
    
}

.inputs-consultas label,
input {
    display: block;
}

.inputs-consultas div {
    margin: 15px 25px 0px 0px;
}

.botoes-consultas-container {
    margin: 15px 25px 0px 25px;
}

.botoes-consultas-itens-label {
    font-size: 16px;
    letter-spacing: 1.2px;
    height: 38px;
    padding: 0 5px;
}

.botoes-consultas-container div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, auto));
}

.botoes-consultas-itens-radio:checked + .botoes-consultas-itens-label {
    filter:brightness(75%);
}

.filtros-consultas {
    margin: 15px 0px 0px 25px;
}



.filtros-consultas > .radio-container {
    position: relative;
    display: inline-block;
    top: -4px;
    left: -8px;
    margin-bottom: 9px;
    width: auto;
    height: auto;
    padding-bottom: 10px;
    
}

.filtros-consultas > label {
    display: block;
}

.filtros-consultas div {
    margin-bottom: 6px;
    margin-right: 15px;
}

.filtros-consultas select,
.checkbox-opcoes {
    height: 30px;
    padding: 0;
    margin-top: 2px;

}

.select-in-filter {
    margin: 10px 0 10px 0;
}

#radio-2 {
    background-color: rgb(201, 201, 201);
}