.listagem-itens table {
    text-align: left;
    width: 100%;
}

.listagem-itens table th {
    position: relative;
    padding: 5px 10px 5px 10px;
    background-color: #676767;
    color: #ffffff;
    min-width: 110px;
}

.listagem-itens table th p{
    display: inline-block;
    cursor: pointer;
    width: 15px;
    text-align: center;
    position: absolute;
    top: 0px;
    right: 2px;
    font-size: 20px;
}

.listagem-itens table td {
    padding: 0px 10px 0px 10px;
    line-height: 30px;
    font-size: 16px;
}

.listagem-itens .span-checkbox {
    top: -22px;
    width: 17px;
    height: 17px;  
}

.listagem-itens table tbody tr :first-child {
    width: auto;
}

tr:nth-child(even) {
    background: lightgrey;
  }

.listagem-itens table tbody td button {
    display: inline-block;
    color: #3d2927;
    font-size: 25px;
    width: auto;
    background-color: transparent;
    border: none;
    margin-right: 10px;
    margin-top: -1px;
    height: 25px;
}
