/* inicio lógica de abrir / fechar o modal */

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0, 0, 0, .9);
  transition: opacity .25s ease;
  z-index: 1;
}

.modal_bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked+.modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked+.modal .modal__inner {
  top: 0;
}

.modal__inner {
  transition: top .25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 500px;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  padding: 1em 2em;
  height: 50%;
  text-align: center;
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

/* fim lógica de abrir / fechar o modal */

button span label {
  color: white;
  font-size: 16px;
  letter-spacing: 1.2px;
}


.modal input {
  margin: 0 auto;
  text-align: center;
  margin-top: 7px;
  margin-bottom: 20px;
  width: 200px;
}

.modal-titulo {
  font-size: 18px;
  display: inline-block;
  margin-bottom: 40px;
}

.modal__inner button {
  margin-top: 45px;
  width: 200px;
}

.modal .boolean-button {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 40px;
  margin-top: 7px;
}

.modal .boolean-button-container label {
  display: block;
  margin-bottom: 0;
}

.modal .boolean-button label {
  margin: 0;
  width: 100px;
}