.page-container {
    width: 100%;
    max-width: 2100px;
    height: 100vh;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.page-container .conteudo {
    width: 100%;
    height: 100%;
    background: #d9d9d9; 
}

.conteudo-janela-padrao form{
    display: grid;
    grid-template-areas: 
    'codigo descricao descricao descricao conjunto'
    'atacado varejo status classe classe'
    'colecoes colecoes colecoes tamanhos tamanhos'
    '. . . . submit';
}


#codigo-produto {
    grid-area: codigo;
}

#descricao-produto {
    grid-area: descricao;
}

#conjunto {
    grid-area: conjunto;
    
}

#valor-atacado {
    grid-area: atacado;
}

#valor-varejo {
    grid-area: varejo;
}

#classe-produto {
    grid-area: classe;
}

#status-produto {
    grid-area: status;
}

#colecoes {
    grid-area: colecoes;
}

#tamanhos {
    grid-area: tamanhos;
}

#botao-submit {
    grid-area: submit;
}

.tabela-opcoes {
    height: 400px;
}
