.novo-produto-container {
    width: 100%;
    max-width: 2100px;
    height: 100vh;
    margin: 0 auto;

    align-items: center;
    justify-content: space-between;
}

.novo-produto-container .conteudo {
    width: 100%;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    
    justify-content: space-between;
    align-items: center;
}

.novo-produto-container .conteudo form {
    width: 100%;
    max-width: 450px;

}

.novo-produto-container .conteudo form input {
    margin-top: 8px;
}

.novo-produto-container .conteudo form table {
    margin-top: 8px;
    height: 50px;
    width: 300px;
}

.novo-produto-container .conteudo form table input{
    margin-top: 8px;
    height: 15px;
    width: 15px;
}