* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.linha-navegacao {
    width: 99%;
    margin: 10px auto;
}

.linha-navegacao div p {
    color: #3d293b;
    font-size: 17px;
    display: inline-block;
    margin: 0 7px;
    letter-spacing: 0.8px;
}

body {
    font: 400 15px Helvetica;
    color: #3d293b;
    height: 100vh;
    background: #d9d9d9;
  
}

input, button, textarea, label, select, .botoes-consultas-itens-label {
    font: 600 15px sans-serif;
    letter-spacing: 0.8px;
}

button, .botoes-consultas-itens-label {
    cursor: pointer;
}

form div {
    margin: 10px;
}

label {
    color: #3d293b;

}

input, select, .checkbox-opcoes {
    width: 100%;
    height: 40px;
    color: #333333;
    border: 1px solid #DCDCE6;
    border-radius: 8px;
    padding: 0 24px;
    margin-top: 6px;
    background-color: #ffffff;
    transition: all 0.2s ease;
}

select option {
    color: #333333;
    font: 600 15px sans-serif;
}

button, .botoes-consultas-itens-label {
    width: 100%;
    height: 44px;
    font-size: 15px;
    letter-spacing: 1.2px;
    background: #cc2388;
    border-color: #ffffff;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    color: #FFF;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 38px;
    transition: filter 0.2s;
}

button:hover, .botoes-consultas-itens-label:hover {
    filter:brightness(80%)
}

.botoes-consultas-itens-radio {
    display: none;
}
.page-container {
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.page-container .conteudo {
    width: 100%;
    height: 100%;
    background: #d9d9d9; 
}

input:invalid {
    border: solid #dc1826;
    border-width: 2px 1px 2px 1px;
}

select:invalid {
    border: solid #dc1826;
    border-width: 2px 1px 2px 1px;
}

input:focus { 
    border: solid #3d293b;
    border-width: 2px 1px 2px 1px;
}

select:focus { 
    border: solid #3d293b;
    border-width: 2px 1px 2px 1px;
}




